* {
	margin: 0;
	box-sizing: border-box; /* Agregado para incluir el padding y el borde en el ancho y alto total */
	font-family: 'Roboto', sans-serif;
}


/* body */

body {
	background-color: #311700;
	position: relative;
	min-height: 100vh; 
	padding-bottom: 60px; 
}

.sheets {
	display: flex;
	margin: 5px;
	color: #ddcfb2;
	padding: 10px;
	flex-direction: column;
}

.sheets h1 {
	margin: auto;
}

.sheets-container{
	height: 100%;
}

.sheets-container__grid{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.sheets-container__grid div {
	margin-right:90px ;
	margin-left:90px ;
	padding: 50px;
}

.sheets-container__grid a {
	text-decoration: none;
	color: #ddcfb2;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.sheets-container__grid a:hover{
color: rgba(221, 207, 178, .7);
}

.sheets-container__grid a iframe{
	margin-top: 10px;
}

@media only screen and (max-width: 900px){

body	{
	display: flex;
	flex-direction: column;
}

}

@media only screen and (max-width: 500px){
	.sheets-container__grid div iframe {
		display: flex;
		width: 100%;
		height: auto;

	}

}