* {
	margin: 0;
	box-sizing: border-box; /* Agregado para incluir el padding y el borde en el ancho y alto total */
}
.navegador {
	/*background-color: #8d4925;*/
	height: 5em;
  	align-items: center; 
  	border-style: solid;
  	border-radius: 3px;
  	justify-content: space-around;
  	display: flex;
  	background-color: #8d4925;
 }
 	.botonera{
 		border-style: solid;
 		display: inline-block;
 		text-align: center;
 		text-decoration: none;
 		color: white;
 		padding: 1.2em;
 		margin: -1em;
 		border-color: black;
 		background-color: #5d2417;
 }
  		.botonera:hover{
 			font-size: 1.05em;
 		}
header div nav ul li {
	display: inline-block;
	margin: 1em;
}
body {	
	background-color:#ffb48a;
}
article {
	margin: 1em;
}
	article h1{
		font-size: 3em;
		text-align: center;
	}
	article h4{
		font-size: 2em
	}
	article ul {
		font-size: 1.5em;
	}
		article ul li a {
			text-decoration: none;
			color: #000;
		}
		article ul li a:hover{
			color: blue;
			font-size: 1.1em;
		}

